{% extends 'base.html.twig' %}
 {% form_theme formVisiteur 'bootstrap_4_layout.html.twig' %} 

{% block title %}{% endblock %}

{% block body %}
<h1 id="title_choose">Choisir un patient</h1>
       {# Affichage du form #}
       {{ form_start(formVisiteur) }}
        
        {{ form_row(formVisiteur.visiteur,{
            'label': 'Patient concerné par la visite médicale','id':'choose_visiteur'
        }) }}
        
        <button type="submit" class="btn btn-success create_button"> 
            
                Enregistrer
        
        </button>
        {{ form_end(formVisiteur) }}

{# Si on recupère un id, on affiche les rapports du visiteur #}
{% if haveid %}
<h1 id="title_show">Voici les rapports de {{ visiteur.nom }} {{ visiteur.prenom }} :</h1>
<div class="row show-card">
        {% for rapport in visiteur.rapports %}
                
        <div class="col-4">
                <div class="card" style="width: 18rem;">
                        <div class="card-body">
                                <h5 class="card-title">{{ rapport.visiteur.nom }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ rapport.date | date('d/m/Y') }}</h6>
                                <p class="card-text">{{ rapport.bilan }}</p>
                        </div>
                </div>
        </div>
                
        {% endfor %} 
</div>
{% endif %}
{% endblock %}
